<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="TestConfigHandler" type="Example.TestConfigHandler, Example"/>
  </configSections>


  <TestConfigHandler>
    <UserID>zxjs</UserID>
    <PassWord>zxjs</PassWord>
    <FactoryObject>Example,Example.FetchData</FactoryObject>
    <CacheType>Common.Caching.CacheAspNet,Common</CacheType>
    <CachePrefix>test</CachePrefix>
    <CacheDefaultTimeToLive>600</CacheDefaultTimeToLive>
   
    
    
  </TestConfigHandler>


</configuration>