<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="TestConfigHandler" type="Example.TestConfigHandler, Example"/>
  </configSections>


  <TestConfigHandler>
    <UserID>zxjs</UserID>
    <PassWord>zxjs</PassWord>
    
    <FactoryObject>Example,Example.FetchData</FactoryObject>
    
    <CacheType>Common.Caching.CacheAspNet,Common</CacheType>
    <CachePrefix>test</CachePrefix>
    <CacheDefaultTimeToLive>600</CacheDefaultTimeToLive>

    <OrmConnection>Provider=msdaora;Data Source=192.168.0.236/orcl;Persist Security Info=True;User ID=d_u_otls2012;Password=d_u_otls2012;Unicode=True</OrmConnection>
   
    
    
  </TestConfigHandler>


</configuration>